nimcache/
.nimble/
_deps/
__pycache__/
/build/

*.a
*.dll
*.dylib
*.exe
*.lib
*.o
*.obj
*.pdb
*.so

/examples/noop_basic
/examples/noop_resources
/examples/sdl_triangle
/tests/test_api
/tests/test_runtime
